@font-face {
    font-family: 'YousheBiaotiHei';
    src: url('@/assets/fonts/ysbthzt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('@/assets/fonts/Orbitron.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SemiBold';
    src: url('@/assets/fonts/SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* 
.title {
    font-family: 'YousheBiaotiHei', sans-serif;
    min-height: 28px;
    min-width: 166px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    background: -webkit-gradient(linear,
        left top,
        right top,
        color-stop(0%, rgba(10, 127, 190, 0.91)), 
        color-stop(100%, rgba(10, 127, 190, 0))); 
    background: linear-gradient(90deg,
        rgba(10, 127, 190, 0.91) 0%, 
        rgba(10, 127, 190, 0) 100%);
    border-bottom: 2px solid #074d90;
    color: #ffffffb3fffb3;
    font-size: 1.2rem;
    padding-left: 15px;
} */

.semi{
    font-family: 'SemiBold', sans-serif;
}