@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
  width:100vw;
  height: 100vh;
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.flex-x{
  display: flex;
  }
.flex-y{
  display: flex;
  flex-direction: column;
}
.text-green{
  color:#13d643
}
.text-white{
  color:#fff
}
.text-red{
  color:#d61313
}
.bottom-box{
  height:35%
}
.box-title {
  display: flex;
  align-items: flex-end;
}
.tit {
  background: url("../assets/img/line1.png") no-repeat bottom right;
  font-size: 20px;
  white-space: nowrap;
  padding-bottom: 10px;
  padding-right: 20px;
  color: #13e3ff;
}
.box-title p {
  background: url("../assets/img/line2.png") no-repeat bottom right;
  width: 100%;
  height: 13px;
  margin-bottom: 5px;
  opacity: 0.5;
}
.box-content {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
.left{
  /* width: 20%; */

}
.parent {
  width: 20%;
  padding: 0.5rem;
  perspective: 1000px;
}

.card {
  padding-top: 2rem;
  /* border-radius: 10px; */
  /* border: 3px solid rgb(0 0 0); */
  transform-style: preserve-3d;
  /* background: linear-gradient(135deg, #0000 18.75%, #474747 0 31.25%, #0000 0), repeating-linear-gradient(45deg, #474747 -6.25% 6.25%, #1f1f1fa3 0 18.75%); */
  /* background-size: 60px 60px; */
  /* background-position: 0 0, 0 0; */
  background-color: #25242491;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}
.left {
  background: #00000028;
}
.row {
  display: flex;
  justify-content: space-around;
}
.left,
.right {
  margin-top: -20px;
  background: #00000028;
}
.center {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 3rem;
}
.box {
  /* background-image: url("./../assets/img/boxbg.png"); */
  /* background-size: 100% 100%; */
  color: #fff;
  padding: 0.5rem 1rem;
  /* margin-bottom: 1rem; */
}
.title {
  min-height: 28px;
  min-width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(-12.74%, rgb(8 98 109 / 50%)),
    color-stop(56.76%, rgba(106, 224, 255, 0.271))
  );
  background: linear-gradient(
    90deg,
    rgb(10 127 190 / 91%) -12.74%,
    rgb(1 24 31 / 78%) 56.76%
  );
  border: 2px solid #074d90;
  color: #ffffff;
  font-size: 0.8rem;
}
.row-title {
  justify-content: space-between;
  text-align: center;
}
.title::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-top: 15px solid transparent;
  border-left: 15px solid #fffcf7;
}

.title::before {
  content: "";
  width: 4px;
  height: 28px;
  background: #19173b;
  border: 2px solid #acf7ff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  bottom: -7px;
  left: 4px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.content-box {
  background: #0b586fbb;
  /* border-radius: 10px 100px 10px 10px; */
  transition: all 0.5s ease-in-out;
  padding: 1.5rem 1rem 1rem;
  transform-style: preserve-3d;
}
.left-box-content,
.right-box-content {
  padding: 0.5rem;
  box-sizing: border-box;
}
.content-box .card-title {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #f2f2f2;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: rgb(7, 185, 255);
  /* border-radius: 5px; */
  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.date-box {
  position: absolute;
    top: 1rem;
    right: 1rem;
    /* height: 2rem; */
    /* width: 3rem; */
    background: #232323a8;
    border: 1px solid rgb(7, 185, 255);
    /* border-radius: 10px; */
    padding: 0.5rem;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;

}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: rgb(4, 193, 250);
  font-size: 9px;
  font-weight: 700;
}

.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: rgb(4, 193, 250);
}
 
@font-face {
  font-family: 'segment';
  src: url('segment.ttf');
 }  
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  background-image: url("./img/bg.png");
  background-size: 100% 100%;
    /* background: radial-gradient(
      circle,
      #0d263d,
      #01061a
    ) */
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: -1;
    pointer-events: none; /* 确保伪元素不影响用户交互 */
  }
}
